<div id="tags_editing_section">
	<br>
	<input type="text" size="60" id="tags_editor" value="<%=assignment.tag_list%>"/> 
	<div class="buttons">
		<button value="Save" onClick="doTagSave('tags');" class="positive">Save</button>
		<button value="Cancel" onClick="doTagCancel('tags');" class="negative">Cancel</button>
	</div>
</div>
<div id="tags_saving_section" style="display:none;">
	<i>Saving...</i>
</div>
</br>
</br>