<%= fb_title "Assignments"%>
<%= render :partial =>"assignments_header" %>
<div class="boxHeaderFlexible">Assignments</div>

<% for assignment in @assignments %>
<%= render :partial =>"partials/assignment_display", :locals => {:assignment => assignment} %>
<% end %>

<br />

<%= link_to 'New assignment', new_assignment_path %>