wrapper {
	font-size: 12px;
}

a {
	color: #3B5998;
}

h1 {
	font-size: 18px;
}

/*Make pre wrap*/
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


#userProfileInfo {
	margin-top: 5px;
	font-size: 11px;
	color: #636363;
}

div#content{
 padding:10px;
}

form.button-to , form.button-to div{
display:inline;
}
  div.footprint img{
 float:left;
display:block;
}

div#footer{
  float:right;
  margin: 5px;
  clear:both;
}

div#invited_friends{
  width:70%;
  border:thin solid black;
  padding:10px;
  margin:10px;
}

div#current_content{
  margin-top:10px;
}

h2, h3{
    margin-bottom:5px;
}

div.user_thumb{
     width:50 px;
    float:left;
    padding:2px;
    text-align:center;
}

.img_box {
    height:70px;
}

div.footprint_item{
    padding-top:20px;
    float:left;
}

div.assignmentTitle{
	font-size: 19px;
	font-weight: bold;
	color: #3b5998;
}

.editInPlaceField {
	padding: 3px;
	border: 1px solid white;
}

div#ajax_control{   
    float:right;
    margin:5px;
    font-size:15px;
}

#moreMetaBox {
	clear: left;
	border: 1px solid #caccd3;
	margin-top: 5px;
	margin-bottom: 5px;
}

.moreMetaKey {
	color: #878787;
	padding: 3px;
}

.moreMetaValue {
	vertical-align: top;	
}

#moreMetaHeader {
	background-color: #e4e6ef;
	font-size: 12px;
	padding: 3px;
}

#moreMetaContent {
	display: none;
}
.css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }

input.editMode {
background-color : #FFFF99;
}
textarea.editMode {
background-color : #FFFF99;
}
.savingAjaxWithBackground {
background-color : #FFFF99;
}

#comment {
	clear: both;
}

#commentUserIcon {
	float:left;
	width:60px;
	padding: 4px;
}

#commentText{
	padding-top: 2px;
	margin-left:68px;
	font-style: italic;
	
}

#commentForm {
	clear: both;
	padding-top: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}

.miniEditingSection .buttons {
	display: inline-block;
	float: right;
}

.miniEditingSection .buttons .button {
	margin-top: 8px;
}

.boxHeaderFlexible {
	background-color: rgb(236, 239, 245);
	background-image: none;
	background-repeat: repeat;
	border-top-color: #47639E;
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(51, 51, 51);
	display: block;
	font-size: 11px;
	font-weight: bold;
	height: 13px;
	margin-bottom: 7px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	position: relative;
	zoom: 1;
}

#headerSearchForm {
	float:right;
	clear:none;
}

#header {
	clear:both;
	/* TODO: This is not working */
/*	background: url(/images/header_bg.png) repeat-x 0 bottom;
	border: 1px solid #cdcdcd;*/	
	padding: 4px;
/*	background-color: rgb(236, 239, 245);	*/
}

#headerImage {
	vertical-align: middle;
	clear: none;
}

#headerWelcome {
	align:left;
}

.activityItem {
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 8px;
	font-size: 11px;
}

.activityItemIcon {
	float: left;
	clear: none;
	margin-right: 5px;
}

.activityItemText {
	clear: none;
	margin-left: 18px;
}


.tag {
	/* float: left; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #727272;
	background-color: #D2DDE6;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	border: 1px solid #DFDFDF;
	width:auto;
}

.tag:hover a, .tag a:hover {
	text-decoration: none;
	color: #FFFFFF;	
}
.tag:hover{
	background-color: #88B2D5;
}

a.whiteLink {
	color: #FFFFFF;
}

.miniAssignmentItem {
	margin: 5px 0;
	padding: 5px;
	border-bottom: 1px solid #aaa;
	font-size: 12px;
	font-weight: bold;
}

.unpublishedAssignmentItem {
	background-color: #f4f6ed;
	border: 1px solid #cbc1ae;
	margin: 5px;
	padding: 5px;
}


.assignmentItem {
	background-color: #EDF1F6;
	border: 1px solid #CCCCCC;
	margin: 5px;
	padding: 5px;
}

.assignmentTitle {
	margin-bottom: 1px;
}

.assignmentAuthor {
margin-top:3px;
margin-bottom:3px;
}

.assignmentTags {
margin-top:6px;
margin-bottom:3px;
margin-left:0px;
}

.assignmentOptions {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	position: relative;
	top:-15px;
	right:5px;
	clear: none;
	float: right;
	margin: 0px;
	padding: 0px;
}

#contentPanel {
	float:left;
	width:480px;
}

#rightPanel {
	margin-left:490px;
	vertical-align:top; 
}

.greenButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #339900;
	margin: 3px;
	border: 1px solid #006600;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
}



/* INPUT TEXT */
/*input{  
    border: 1px solid silver;  
    padding: 4px;  
    font-size: 1em;  
    background-color: #F8F8F8;  
}*/

div#title_editing_section input, input.titleField{
	font-size: 19px;
	font-weight: bold;
}

/*input:focus{  
    border-color: #000;  
    background-color: #F5EFE6;  
}*/

textarea {  
    border: 1px solid #888;  
    padding: 4px; 
	font-size: 12px;
    background-color: #F8F8F8;  
}

textarea:focus {  
    border-color: #000;  
    background-color: #F5EFE6;  
}

#synopsis_editing_section textarea, #synopsis_editing_section textarea:focus, textarea.synopsisField {
	font-size: 13px;
}

.assignmentsHeader {
	margin: 5px;
	padding: 3px;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	font-size: 16px;
	color: #2e589c;
	font-weight: bold;
	word-spacing: 5px;
	text-align: center;
}

.assignmentsHeader a:hover {
	text-decoration: none;
	color: #c70000;
}

.grayButton {
	border: 1px solid #585858;
	background-color: #eee;
	color: #0d0d0d;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;	
	margin-right:5px;
	padding: 3px 5px;
}

.grayButtonPressed {
	border: 1px solid #e7e7e7;
	background-color: #8e8e8e;
	color: #e7e7e7;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;	
	margin-right:5px;
	padding: 3px 5px;
}

.grayButton a:hover, .grayButton a {
	text-decoration: none;
	color: #000;
}

.grayButtonPressed a:hover, .grayButtonPressed a {
	text-decoration: none;
	color: #e7e7e7;
	
}

.peopleListItem {
	padding-bottom: 10px;
	height: 68px;
}

.peopleListItemThumb {
	float: left;
}

.peopleListItemDetails {
	margin-left: 60px;
}
.postIt {
	background-color: #EEEB6C;
	border:	1px solid  #F2E520;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	margin: 5px;
	font-size: 13px;
	color: #1F1A06;
}
/* Alerts and notices*/

.alert {
	color: #9d0a09;
	font-weight: bold;
	background-color: #fcb6bc;
	padding: 10px;
	border: 1px solid #f81510;
}

.notice {
	color: #1aa51b;
	font-weight: bold;
	font-size: 12px;
	background-color: #FDFAE1;
	padding: 10px;	
	border: 1px solid #1aa51b;
}

.assignmentHeader {
/*	background-color: #eee;
	border:	1px solid  #ACACAC;*/
/*	border-width: 1px;*/
/*	padding: 8px;*/
}

#title_field {
	padding: 3px;
}

.leftHalf {
	width: 48%;
	float:left;
}

.rightHalf {
	width: 48%;
	margin-left: 52%;
}
#assignmentFeatureBox {
	background-color: #EEE;
/*	border:	1px solid  #ACACAC;*/
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	margin: 5px;
	clear: both;
}

ul.paramList {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	color: #3b5898;
	line-height: 1.8;
}

ul.paramList li {
    border-bottom:1px solid #DFDFDF;	
}

ul.fileList {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	color: #3b5898;
	line-height: 1.8;
}

ul.fileList li {
    border-bottom:1px solid #DFDFDF;	
}

.fileContent {
	background-color: #ebebeb;
	border: 2px solid #b0b0b0;
	padding: 5px;
}

#synopsis_field {
	font-size: 13px;
}


/* Web 2.0 style Buttons */

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family: Helvetica, Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* Special case for right bar */
#rightPanel .buttons a, #rightPanel .buttons button {
	float: none;
	clear: none;
	width: 93%;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

div#authors_area {
	clear:both; 
	padding-left:3px;
	width: 500px;
}

.comment_text_area {
	width: 470px;
	height: 100px;
}

.file_text_area {
	font: 12px "Courier New", Courier, mono;
	color: #000;
	border: 1px solid #afafaf;
}


a#edit_tags_link {
	float: left;
}
