<script type="text/javascript" charset="utf-8">
	function deleteActivityItem(id) {
	  url = '<%= url_for(:controller => "activity_items", :action => "destroy", :canvas => false, :only_path => false,
	  request_forgery_protection_token.to_s => h(form_authenticity_token()) ) %>';
	  ajaxDeleteItem( id , url,'activity-'+id); 
	  return false;
	}
</script>
<div id="contentPanel">
<div class="boxHeaderFlexible">Recent Activity</div>

<% for activity_item in @activity_items %>
<%= render :partial =>"partials/activity_item", :locals => {:activity_item => activity_item} %>
<% end %>

</div>
<div id="rightPanel">Hello</div>