<%= fb_title "People" %>


	<div class="boxHeaderNoFloat">
		<%= fb_name(@user.uid, :capitalize => true, :firstnameonly => true, :useyou => true, :possessive => true, :linked => false) %> Friends on CATspace
	</div>
	
	<% if @catspaceUsers %>
		<% logger.debug { "catspaceUsers = #{@catspaceUsers}" }%>
		<%= render :partial =>"partials/people_sidebar_list", :locals => {:users => @catspaceUsers} %>
	<% end %>
	
	<div class="boxHeaderNoFloat">
		CATspace Users
	</div>

	<%= render :partial =>"partials/people_flowing_list", :locals => {:users => @allUsers} %>
